@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400&family=Zen+Maru+Gothic:wght@300;400&display=swap');
body {
  min-height: 100vh;
  min-width: 100vh;
  background-image: url(assets/bg.jfif);
  color: white;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

img {
  max-width: 100%;
}

p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.time{
  font-size: 30px;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  padding: 8px 16px;
  font-size: 23px;
  border-radius: 10px;
  background-color: #fab290;
  color: white;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.card {
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-image: url(assets/logo1_1.png);
  background-color: rgb(248, 227, 227);
  background-position: center center;
  background-size: 90%;
  backface-visibility: hidden;
  background-repeat: no-repeat;
}

.card .front {
  transform: rotateY(180deg);
}
/**modal**/
.modal {
  display: none;
  bottom: 0px;
}
.showModal {
  display: flex;
  position: absolute;
  bottom: 0px;
  gap: 10px;
  background-color: #f78f8f;
  top: 0;
  left: 0;
  height: 820px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.winner {
  background-color: rgb(252, 205, 205);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 400px;
  padding: 20px 20px;
}
.winner img {
  width: 250px;
  
}
.barre{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.goback {
  padding: 10px 10px;
  background-color: rgb(246, 220, 222);
  color: rgba(20, 20, 20, 0.911);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
  width: 200px;
  height: 50px;
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 5px;
  text-align: center;
  align-items: center;
  font-family: 'Zen Maru Gothic', sans-serif;
  transition: 0.2s;
}
.goback:hover {
  background-color: rgba(20, 20, 20, 0.911);
  color:rgb(246, 220, 222) ;
}

